

      <div class="col-md-2 left-nav">
        <div class="panel panel-default">
            <div class="panel-heading" id="recent-post-title">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i>Recent Posts</h3>
            </div>
            <div class="panel-body post-list">
                <div class="list-group">
                    {% assign posts=site.posts | where:"lang", page.lang | where:"cat", page.cat %}
                    {% for post in posts %}
                    <a class="nav-bar-post-item list-group-item" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
      </div>
