
h2.slice-h2 > a {
  text-decoration: none !important;
  color: #8c8787;
}

h2.slice-h2 > a:hover {
  color: #050404;
}

h1.post-title-h1 {
  margin-bottom: 1em;
}

.entry {
  font-size: large;
}

.en:lang(en), .de:lang(de), .fr:lang(fr), .ru:lang(ru), .hu:lang(hu) {
  font-weight: bold;
  color: #dfdada !important;
}

.sidebar-right ul li {
  list-style: none;
  border-bottom: 1px solid #eee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(238, 238, 238);
}

.list-group ul {
  margin: auto;
  padding: initial;
}

.nav-bar-post-item {
  color: #000000;
  text-decoration: blink;
}

.post-list {
  padding: 5px !important;
}


@media (max-width: 992px) {
  .left-nav, .right-nav {
    display: none;
  }
}

#main {
  padding-top: 120px !important;
}

#header-container {
  background-color: #282828;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  margin-bottom: 10px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
}

.header-text {
  color: #a99b9b;
}

.header-link {
  color: white;
}

.header-link:hover {
  color: #f9c909;
  text-decoration: none;
}

.header-categories {
  font-size: 28px;
  display: inline-flex;
  float:right;
}
#nav-bar {
  /*width: calc(100% - 420px);*/
  /*width: 100%;*/
}

#nav-bar-right  {
  float: right;
}

#language-selector-list {
  float: right;
  clear: both;
}

#language-selector-list li a {
  color: #a99b9b;
}

#recent-post-title {
  background-image: linear-gradient(to bottom,#282828 -25%,#f5f5f5 100%);
}

.timeline-panel {
  z-index: 999;
}

.elevated-title {
  margin-bottom: 30px;
}

.patook {
  vertical-align: unset;
}

p.ambitions {
  font-size: x-large;
  text-align: justify;
  padding: 5px;
}

.about-subtitle {
  text-align: center;
  margin-bottom: 20px;
}

.ambitions-heading {
  background-color: rgba(51, 51, 51, 0.85) !important;
  border-radius: 23px 23px 0px 0px !important;
  color: white !important;
  background-image: none !important;
  border-style: solid;
}

.ambitions-panel {
  border-top: 0;
  border-top-left-radius: 23px !important;
  border-top-right-radius: 23px !important;
}

.timeline-inverted {
  height: 40px;
}

.timeline-panel {
  padding: 0px;
  margin: 4px;
}

.timeline > li {
  margin-bottom: 75px;
}

.timeline-panel {
  padding-top: 20px !important;
}

@media screen and (max-width: 640px) {
	.site-avatar {
		float: none;
		display: none;
		margin: 0 auto;
	}
}
@media screen and (max-width: 590px) {
	.site-description.header-text {
		display: none;
	}
}
@media screen and (max-width: 540px) {
	.site-name {
    font-size: 20px;
    position: absolute;
	}
}

nav {
	float:right;
}
